apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: grafana
spec:
  interval: 15m
  chart:
    spec:
      chart: grafana
      version: 21.4.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    TZ: America/Los_Angeles
    cnpg:
      main:
        backups:
          credentials: b2
          enabled: true
        database: grafana
        enabled: true
        mode: recovery
        password: ${CNPG_PASSWORD}
        pgVersion: 16
        recovery:
          credentials: b2
          enabled: true
        user: grafana
    credentials:
      b2:
        accessKey: ${S3_KEY_ID}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_PASSWORD}
        name: b2
        path: ""
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_ENDPOINT}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: graph.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            certificateIssuer: domain-0-le-prod
            enabled: true
          homepage:
            enabled: true
            group: Utilities
          nginx:
            enabled: true
    persistence:
      data:
        volsync:
          - credentials: b2
            dest:
              enabled: true
            name: data
            src:
              enabled: true
              trigger:
                schedule: 30 8 * * *
            type: restic
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.${DOMAIN_0}/application/o/userinfo/
                GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.${DOMAIN_0}/application/o/authorize/
                GF_AUTH_GENERIC_OAUTH_CLIENT_ID: ${GF_AUTH_GENERIC_OAUTH_CLIENT_ID}
                GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET: ${GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET}
                GF_AUTH_GENERIC_OAUTH_ENABLED: "true"
                GF_AUTH_GENERIC_OAUTH_NAME: authentik
                GF_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH: contains(groups[*], 'Grafana Admins') && 'Admin' || contains(groups[*], 'Grafana Editors') && 'Editor' || 'Viewer'
                GF_AUTH_GENERIC_OAUTH_SCOPES: openid profile email
                GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.${DOMAIN_0}/application/o/token/
                GF_AUTH_OAUTH_ALLOW_INSECURE_EMAIL_LOOKUP: "true"
                GF_AUTH_OAUTH_AUTO_LOGIN: "true"
                GF_AUTH_SIGNOUT_REDIRECT_URL: https://auth.${DOMAIN_0}/application/o/grafana/end-session/
                GF_SECURITY_ADMIN_PASSWORD: ${ADMIN_PASSWORD}
                GF_SECURITY_ADMIN_USER: admin
                GF_SERVER_ROOT_URL: https://graph.${DOMAIN_0}
                GF_SMTP_ENABLED: "true"
                GF_SMTP_HOST: protonmail-bridge.protonmail-bridge.svc.cluster.local:25
                GF_SMTP_USER: ${PROTONMAIL_EMAIL}
                GF_SMTP_PASSWORD: ${PROTONMAIL_PASSWORD}
                GF_SMTP_FROM_ADDRESS: ${ADMIN_EMAIL}
                GF_SMTP_FROM_NAME: "Grafana Notifications"
                GF_SMTP_SKIP_VERIFY: "true"
    dashboards:
      grafana:
        cnpg:
          enabled: true
        flux-cluster:
          enabled: true
        flux-control-plane:
          enabled: true
        metallb:
          enabled: true
        nginx:
          enabled: true
        longhorn:
          enabled: true
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="Longhorn"
            id: 23521
            revision: 2
        k8s:
          enabled: true
          datasource:
            - name: "$${DS__VICTORIAMETRICS-PROD-ALL}"
              value: Prometheus
          marketplace:
            # renovate: depName="k8s"
            id: 15661
            revision: 2
        node:
          enabled: true
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          marketplace:
            # renovate: depName="Node Exporter Full"
            id: 1860
            revision: 42
        arrs:
          enabled: true
          datasource:
            - name: "$${DS_PROMETHEUS}"
              value: Prometheus
          url: https://raw.githubusercontent.com/onedr0p/exportarr/refs/heads/master/examples/grafana/dashboard2.json
