apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ralph
  namespace: ralph
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.70
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    TZ: America/Los_Angeles
    image:
      repository: git.brocklobsta.net/brock/claude-code
      tag: latest
      pullPolicy: IfNotPresent
    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: external
          hosts:
            - host: ralph.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
          integrations:
            certManager:
              certificateIssuer: domain-0-le-prod
              enabled: true
            auth:
              type: "authentik"
              internalHost: "authentik-http.authentik.svc.cluster.local:10230"
              externalHost: "auth.${DOMAIN_0}"
              # Can be left default in most cases
              responseHeaders: []
    workload:
      main:
        podSpec:
          containers:
            main:
              probes:
                liveness:
                  enabled: false
                readiness:
                  enabled: false
                startup:
                  enabled: false
              env:
                CLAUDE_CONFIG_DIR: "/home/node/.claude"
    service:
      main:
        enabled: false
        ports:
          main:
            enabled: false
    persistence:
      claude:
        enabled: true
        mountPath: /home/node/.claude
        targetSelectAll: true
      workspace:
        enabled: true
        mountPath: /home/node/workspace
        targetSelectAll: true
