apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: qbittorrent
      version: 23.11.3
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
      b2:
        type: s3
        url: ${S3_ENDPOINT}
        bucket: ${S3_BUCKET}
        accessKey: ${S3_KEY_ID}
        secretKey: ${S3_SECRET_KEY}
        encrKey: ${S3_PASSWORD}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        annotations:
            nginx.ingress.kubernetes.io/auth-method: 'GET'
            nginx.ingress.kubernetes.io/auth-url: http://authentik-http.authentik.svc.cluster.local:10230/outpost.goauthentik.io/auth/nginx
            nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri'
            nginx.ingress.kubernetes.io/auth-response-headers: Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-entitlements,X-authentik-email,X-authentik-name,X-authentik-uid
            nginx.ingress.kubernetes.io/auth-snippet: proxy_set_header X-Forwarded-Host $http_host;
        integrations:
          nginx:
            enabled: true
            middlewares:
              - name: auth
                namespace: 'traefik'
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: Arr
            widget:
              enabled: true
              username: ${ADMIN_USER}
              password: ${ADMIN_PASSWORD}
        hosts:
          - host: dl.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: b2
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 40 9 * * *
      downloads:
        enabled: true
        type: nfs
        path: /mnt/Redwood/media/downloads
        server: ${TRUENAS_IP}
        readOnly: false
        mountPath: /downloads
    service:
      proxy:
        enabled: true
        ports:
          proxy:
            enabled: true
            port: 8888
            protocol: "http"
            targetPort: 8888
    qbitportforward:
      enabled: false
      QBT_USERNAME: "${ADMIN_USER}"
      QBT_PASSWORD: "${ADMIN_PASSWORD}"
    addons:
      gluetun:
        enabled: true
        container:
          resources:
            limits:
              truecharts.org/tun: 1
          env:
            FIREWALL: "on"
            FIREWALL_OUTBOUND_SUBNETS: "192.168.1.0/24"
            WIREGUARD_ENDPOINT_IP: "${VPN_ENDPOINT_IP}"
            # WIREGUARD_ENDPOINT_PORT: 51820
            VPN_PORT_FORWARDING: "on"
            VPN_PORT_FORWARDING_UP_COMMAND: /bin/sh -c 'sleep 5; wget -O- --retry-connrefused --post-data "json={\"listen_port\":{{`{{PORTS}}`}}}" http://qbittorrent.qbittorrent.svc.cluster.local:10095/api/v2/app/setPreferences 2>&1'
            VPN_SERVICE_PROVIDER: "protonvpn"
            VPN_TYPE: "wireguard"
            WIREGUARD_ADDRESSES: "10.2.0.2/32"
            WIREGUARD_PRIVATE_KEY: "${WIREGUARD_PRIVATE_KEY}"
            WIREGUARD_PUBLIC_KEY: "${WIREGUARD_PUBLIC_KEY}"
            FIREWALL_INPUT_PORTS: "10095,8888,8000"
            HTTPPROXY: "on"
