apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gatus
  namespace: gatus
spec:
  interval: 5m
  chart:
    spec:
      chart: gatus
      version: 3.1.7
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    ingress:
      main:
        enabled: true
        ingressClassName: external
        integrations:
          nginx:
            enabled: true
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
        hosts:
          - host: status.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
    sidecar:
      enable: true
      enableService: true
      enableIngress: true
      autoIngress: true 
      autoService: false
    configmap:
      config:
        enabled: true
        data:
          config.yaml: |
            {{- if .Values.cnpg.main.enabled }}
            storage:
              type: postgres
              path: {{ (printf "%s?client_encoding=utf8" (.Values.cnpg.main.creds.std | trimAll "\"")) | quote }}
            {{- end }}
            ui:
              title: Status | Gatus
              header: Status
              # logo: https://avatars.githubusercontent.com/u/43101280
              link: https://github.com/Brocklobsta
              buttons:
                - name: Github
                  link: https://github.com/Brocklobsta
                - name: cluster
                  link: https://github.com/Brocklobsta/cluster
            metrics: true
            alerting:
              discord:
                webhook-url: ${GATUS_DISCORD_WEBHOOK}
                default-alert:
                  description: "health check failed"
                  send-on-resolved: true
            endpoints:
              - name: Cloudflare
                group: connectivity
                url: icmp://1.1.1.1
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
              - name: Google
                group: connectivity
                url: icmp://8.8.8.8
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
              - name: Quad9
                group: connectivity
                url: icmp://9.9.9.9
                interval: 60s
                conditions:
                  - "[CONNECTED] == true"
                alerts:
                  - type: discord
              - name: ${DOMAIN_0}
                group: cloudflare
                url: https://${DOMAIN_0}
                interval: 60s
                conditions:
                  - "[STATUS] == 200"
                alerts:
                  - type: discord