apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: home-assistant
      version: 28.14.4
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    matterServerImage:
      repository: ghcr.io/home-assistant-libs/python-matter-server
      pullPolicy: IfNotPresent
      tag: stable
    TZ: America/Los_Angeles
    cnpg:
      main:
        mode: recovery
        backups:
          enabled: true
          credentials: b2
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: b2
    credentials:
      b2:
        accessKey: ${S3_KEY_ID}
        bucket: ${S3_BUCKET}
        encrKey: ${S3_PASSWORD}
        name: b2
        secretKey: ${S3_SECRET_KEY}
        type: s3
        url: ${S3_ENDPOINT}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
          - host: home.${DOMAIN_0}
            paths:
              - path: /
                pathType: Prefix
        integrations:
          certManager:
            certificateIssuer: domain-0-le-prod
            enabled: true
          homepage:
            enabled: true
            group: Apps
          nginx:
            enabled: true
    persistence:
      config:
        enabled: true
        mountPath: /config
        readOnly: false
        targetSelectAll: false
        volsync:
          - credentials: b2
            dest:
              enabled: true
            name: config
            src:
              enabled: true
              trigger:
                schedule: 50 0 * * *
            type: restic
      matter:
        enabled: true
        targetSelector:
          main:
            matter:
              mountPath: /data
        volsync:
          - credentials: b2
            dest:
              enabled: true
            name: matter
            src:
              enabled: true
              trigger:
                schedule: 45 0 * * *
            type: restic
      zigbee:
        enabled: true
        type: device
        mountPath: /dev/ttyUSB0
        hostPath: /dev/ttyUSB0
    workload:
      main:
        podSpec:
          nodeSelector:
            zigbee: "true"
          hostNetwork: true
          containers:
            matter:
              enabled: true
              imageSelector: matterServerImage
              securityContext:
                readOnlyRootFilesystem: false
              probes:
                readiness:
                  enabled: true
                  type: http
                  port: 5580
                  path: /
                liveness:
                  enabled: true
                  type: http
                  port: 5580
                  path: /
                startup:
                  enabled: true
                  type: http
                  port: 5580
                  path: /
